<main>
    <section id="clients" class=" clients ">
        <div class="container">
            <div class="row ">
                <div class="col-lg-2 col-md-4 col-6">
                    <img src="/src/images/client-1.png" class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <img src="src/assets/client-2.png"  class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <img src="src/assets/client-3.png" class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <img src="src/assets/client-4.png"  class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 c0l-6">
                    <img src="src/assets/client-5.png" class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <img src="src/assets/client-6.png"  class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="about">
        <div class="container">
            <div class="section-title aos-init aos-animate" data-aos="fade-up" >
                <h2 class="text-center mt-5">ABOUT US</h2>
            </div>
            <div class="row content">
                <div class="col-lg-6 mt-5" data-aos="fade-up">
                    <p> </i>We are Akeshya, a firm that specializes in web design and marketing. We help transform ideas into reality with a team of passionate graphic designers, web developers, and seasoned marketing advisors.</p>
                    <ul>
                        <li class="mb-2">
                            <i class="fa-solid fa-check-double text-primary"></i>
                            We started with a simple idea: do what is best for the client.
                        </li>
                        <li class="mb-2">
                            <i class="fa-solid fa-check-double text-primary"></i>
                            Our methodical and individual approach to each project delivers the finest possible results for your media.
                        </li>
                        <li class="mb-2">
                            <i class="fa-solid fa-check-double text-primary"></i>
                            Our day-to-day work is to solve your problems utilising the most up-to-date, practical adaptive technology, and we have a lot of fun doing it.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 mt-5" data-aos="fade-up">
                    <p>
                        We're professional, but we're also friendly, and we'll always pay attention to your concerns. We expect to work with innovative people that have an open mind and are dedicated to making every idea a reality. We want to hear from you if you're interested in SEO, have Web Development ideas, or require a graphic designer who can match your goals.
                    </p>
                    <div>
                        <button type="button" class="btn-section">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


