<section class="mt-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 justifi-conetnt-center"  >
                <h1 data-aos='fade-up'>Grow your business with <br>Akeshya</h1>
                <h2 data-aos='fade-up'>We are team of talented website designers, developers & digital marketeers</h2>
                <div data-aos='fade-up'>
                    <a href="#about" class="btn-section">Get Started</a>
                </div>
            </div>
            
            <div class="col-lg-6 justifi-conetnt-center image " data-aos='fade-left'>
              <img src="src/assets/hero-img.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>


