<section id="services" class="services" data-aos="fade-up">
    <div class="container">
        <div class="text-center mt-5">
            <h2 class="fw-bold">SERVICES</h2>
            <p >Akeshya will serve as your consultant and development partner to help you turn your idea into a reality.</p>
        </div>
        <div class="row mt-5 ">
            <div class="col-md-6 col-lg-3  ">
                <div class="icon-box">
                    <div class="icon">
                      <i class="fa-brands fa-dribbble"></i>
                        
                    </div>
                    <h4 class="title">Design</h4>
                    <p class="description">Our web design services can assist you in reclaiming your company's online image. Your business will flourish on the Internet thanks to the combination of style and technology we provide, as well as our experience.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3  ">
                <div class="icon-box">
                    <div class="icon">
                      <i class="fa-solid fa-file"></i>
                    </div>
                    <h4 class="title">Development</h4>
                    <p class="description">Our development team can construct platforms to help your business thrive by creating powerful customised solutions tailored to your particular requirements. Akeshya makes use of established and effective web development tools.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3  ">
                <div class="icon-box">
                    <div class="icon">
                      <i class="fa-solid fa-earth-americas"></i>
                    </div>
                    <h4 class="title">Marketing</h4>
                    <p class="description">A beautiful website is the foundation of effective marketing. Our customers achieve success where it counts—in the real world—by combining our proven approach with our passion for improving conversions and increasing ROI.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3  ">
                <div class="icon-box">
                    <div class="icon">
                      <i class="fa-solid fa-gauge-simple-high"></i>
                    </div>
                    <h4 class="title">Support</h4>
                    <p class="description">Since the beginning, we at Akeshya have specialised in website maintenance. We recognise the significance of having your business online 24 hours a day, seven days a week, and we've created a system to ensure that we're always available.</p>
                </div>
            </div>
            
        </div>
    </div>

</section>

